.s-la-content-topic-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    font-size: $type-1;
  }
}

#s-la-bc .breadcrumb {
  background-image: none !important;
  background-color: $white !important;
  margin-top: $golden-ratio-1;
}
