.s-lib-box {
  .s-lib-box-title {
    font-size: $type-3 !important;
    color: $smokey !important;
    padding: 1em !important;
    background-color: $gray-0 !important;
  }
}

#s-lg-az-results .s-lg-az-result-title {
  font-size: $type-3 !important;
}
.s-lg-az-result-keywords {
  font-size: $type-2 !important;
  line-height: 1.47em;
  margin: 6px 0;
  color: $smokey;
}
